<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="toggle-title-name"><%= store_data.store_name %></div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">หน้าร้านค้า</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store/report">ประวัติ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store/category">สมุดอาหาร</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store/edit">แก้ไข</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- main body -->
  <div class="emp-profile">
    <div class="row">
      <div class="col-md-7">
        <div class=" buy-item-form add-shadow" id="buyItem_component">
          <h3> ข้อมูลนักเรียน</h3>
          <h6> ID card or Student ID </h6>
          <form id="formSearchStudentID">
            <div class="row mb-2">
              <input class="input-group-text col-md-8 input-ml mr-2" style="font-size: 30px;" type="text"
                id="idcardORstuID" placeholder="ID card or student id">
              <button type="submit" class="btn btn-info col-md-3" id="btn_check" style="font-size: 20px;"> ตรวจสอบ
              </button>
            </div>
          </form>
          <h4>รายละเอียด</h4>
          <div class="row mb-2">
            <div class="col-md-4 info-student">
              <div>
                <h5> รหัสนักเรียน </h5>
              </div>
              <div>
                <h5> ชื่อ </h5>
              </div>
              <div>
                <h5> เพศ </h5>
              </div>
              <div>
                <h5> เบอร์โทร </h5>
              </div>
              <div>
                <h5> ชั้น </h5>
              </div>
              <div>
                <h5> ยอดเงินคงเหลือ </h5>
              </div>
            </div>
            <div class="col-md-5 info-student" id="showStudentData"></div>
            <div class="col-md-3 "><img class="add-shadow" src="/partials/image/unprofile.jpg" id="showStudentImageData" width="100%" alt=""></div>
          </div>

          <!-- <div class="row mt-5">
            <div class="col-md-6">
                <h4> จำนวนเงิน (บาท) </h4>
                <input class="input-group-text mb-2" type="text" id="item_price" placeholder="จำนวนเงิน">
                <button class="btn btn-primary" id="buyItem_confirm" onclick="initBuyitem($('#item_price').val())"> จ่ายเงิน
                </button>
                <button class="btn btn-secondary" onclick='clear_data()'> ล้างข้อมูล </button>
            </div>
          </div> -->
          
        </div>
        <div class="buy-item-form add-shadow mt-2">
            <div class="row">
              <div class="col-md-5">
                <h4> จำนวนเงิน (บาท) </h4>
              </div>
              <div class="col-md-6">
                  <input class="input-group-text mb-2" type="text" id="item_price" placeholder="จำนวนเงิน">
                  <button class="btn btn-primary" id="buyItem_confirm" onclick="initBuyitem($('#item_price').val())"> จ่ายเงิน
                  </button>
                  <button class="btn btn-secondary" onclick='clear_data()'> ล้างข้อมูล </button>
              </div>
            </div>
        </div>
      
      </div>
      <div class="col-md-5">
        <div class="text-center border rounded name_title">
          <h3 class="font-weight-bold">เมนูอาหาร</h3>
        </div>

        <!-- <table id="enable_select_menu" class="table table-bordered edit-table-food-list responsive-table">
           <% if(store_food_list[0] == null ) {%>
              <div class="text-center mt-5">
                <h4>ไม่มีรายการอาหาร</h4>
              </div>
            <%}%>
        </table> -->
        <div class="scollbar-food-list mt-4">
          <% if(store_food_list[0] == null ) {%>
             <div class="text-center mt-5">
                <h4>ไม่มีรายการอาหาร</h4>
              </div>
          <%} else {%>
            <div class="div-table ">  
              <% for (var i = 0 ; i < store_food_list.length ; i++) { %>
                <% if(store_food_list[i] != null ) {%>
                <div>
                  <span class="title-food">
                    <%= store_food_list[i].food_name %>
                  </span>
                  <button class="btn btn-primary buy_btn" id="food_list_id_<%= store_food_list[i].food_id %>"
                    onclick="confirm_buy_item($('#student_id').text(),'<%= store_food_list[i].food_id %>','<%= store_food_list[i].food_name %>','<%= store_food_list[i].food_price %>')">
                    <span class="btn-font-size">
                      <%= store_food_list[i].food_price %> บาท
                    </span>
                  </button>
                </div>
                
                <%} else {}}%>
            <%} %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</div>

<script>
document.getElementById('buyItem_component').scrollIntoView({
  behavior: 'smooth'
});

$(document).ready(() => {
  
  clear_data();
})


</script>