<div id="content" class="p-4 p-md-5">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="toggle-title-name">แก้ไข / ร้านค้า</div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">เติมเงิน</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="dropbtn nav-link active">ข้อมูล</a>
              <div class="dropdown-content">
                <a href="/admin/edit_store">ร้านค้า</a>
                <a href="/admin/edit_student">นักเรียน</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/register_store">สมัครร้านค้า</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">คลังอาหาร</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h2 class="mb-2">แก้ไขข้อมูล ร้านค้า</h2>
  <br>
  <table class="table table-bordered" id="StoreDataTableID">
    <thead class="thead-dark">
      <tr>
        <th>เลขที่ร้านค้า</th>
        <th>ชื่อร้าน</th>
        <th>ชื่อเจ้าของร้าน</th>
        <th>เบอร์โทรศัพท์</th>
        <th>สถานะร้านค้า</th>
        <th>แก้ไข / ลบ</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0 ; i < store_data.length ; i++) {%>
      <tr>
        <td><%= store_data[i].store_number %></td>
        <td><%= store_data[i].store_name %></td>
        <td><%= store_data[i].pre_name %> <%= store_data[i].first_name %> <%= store_data[i].last_name %></td>
        <td><%= store_data[i].tel %></td>
        <td><%= store_data[i].store_status %></td>
        <td>
          <a href="/admin/edit_store/<%= store_data[i].store_number %>" class="btn btn-success"> แก้ไข </a>
          <button class="btn btn-danger" data-toggle="modal" data-target="#removeStoreModal"
            onclick="init_delete_user('<%= store_data[i].uid %>')"> ลบ </button>
        </td>
      </tr>
      <% }%>
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="removeStoreModal" tabindex="-1" role="dialog" aria-labelledby="RemoveStoreLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RemoveStoreLabel">ยืนยันตัวตนแอดมิน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- <h4>ยืนยันตัวตนแอดมิน</h4> -->
        <div class="row">
          <div class="col-md-5">
            <h5>กรุณาใส่รหัสผ่าน :</h5>
          </div>
          <div class="col">
            <input type="password" class="input-group-text background-white" id="Admin_pass_confirm" placeholder="ยืนยันรหัสผ่าน">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
          onclick="delete_user($('#Admin_pass_confirm').val())">ยืนยัน</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#StoreDataTableID').DataTable({
      "language": {
            "lengthMenu": "แสดง _MENU_ ข้อมูล",
            "info": "แสดง หน้า _PAGE_ จาก _PAGES_",
            "search": "ค้นหา",
            "paginate": {
                "first": "หน้าแรก",
                "last":"หน้าสุดท้าย",
                "next":"ต่อไป",
                "previous":"ก่อนหน้า"
            }
        }
    });
  });
</script>