<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <button type="button" id="sidebarCollapse" class="btn btn-secondary ml-2" onclick="history.back()">
                <i class="fa fa-arrow-left "></i>
            </button>
            <div class="toggle-title-name">ข้อมูล / นักเรียน / <%= student_data.student_id %></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">เติมเงิน</a>
                    </li>
                    <li class="nav-item ">
                        <div class="dropdown">
                            <a class="dropbtn nav-link active">ข้อมูล</a>
                            <div class="dropdown-content">
                                <a href="/admin/edit_store">ร้านค้า</a>
                                <a href="/admin/edit_student">นักเรียน</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/register_store">สมัครร้านค้า</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category">คลังอาหาร</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- test student profile -->
    <div class="emp-profile">

        <div class="row">
            <!-- image -->
            <div class="col-md-3 text-center ">
                <% if(student_data.image != '') {%>
                <img src="<%= student_data.image%>" class="img-fluid rounded add-shadow" alt="student_img">
                <% } if(student_data.image == '') {%>
                <img src="../../partials/image/unprofile.jpg" class="img-fluid rounded add-shadow" alt="student_img">
                <!-- D:\Work\project\Epayment_Project_v7\views\partials\image\unprofile.jpg -->
                <% }%>
            </div>
            <!-- selete head -->
            <div class="col-md-6">
                <div class="text-center border rounded name_title">
                    <h2e><%= student_data.pre_name %> <%= student_data.first_name %> <%= student_data.last_name %></h2e>
                </div>
                <br>
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="student_profile-tab" data-toggle="tab"
                                href="#student_profile" role="tab" aria-controls="home"
                                aria-selected="true">ข้อมูลนักเรียน</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">ข้อมูลส่วนตัว</a>
                        </li>
                    </ul>
                </div>
                <br>

                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- ข้อมูลนักเรียน -->
                    <div class="tab-pane fade show active" id="student_profile" role="tabpanel"
                        aria-labelledby="student_profile-tab">
                        <!-- student id -->
                        <div class="row ml-2">
                            <div class="col-md-4 mb-2">
                                <h5>รหัสนักเรียน</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.student_id %></h5>
                            </div>
                        </div>
                        <!-- id card -->
                        <div class="row ml-2">
                            <div class="col-md-4 mb-2">
                                <h5>เลขบัตรนักเรียน</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.id_card %></h5>
                            </div>
                        </div>
                        <!-- class -->
                        <div class="row ml-2">
                            <div class="col-md-4 mb-2">
                                <h5>ชั้น</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.class %> ห้อง <%= student_data.room %></h5>
                            </div>
                        </div>
                        <!-- sex -->
                        <div class="row ml-2">
                            <div class="col-md-4 mb-2">
                                <h5>เพศ</h5>
                            </div>
                            <div class="col-md-4 ">
                                <h5><%= student_data.sex %></h5>
                            </div>
                        </div>
                        <!-- weight -->
                        <div class="row ml-2">
                            <div class="col-md-4 mb-2">
                                <h5>น้ำหนัก</h5>
                            </div>
                            <div class="col-md-4 ">
                                <h5><%= student_data.weight %> กิโลกรัม</h5>
                            </div>
                        </div>
                        <!-- height -->
                        <div class="row ml-2">
                            <div class="col-md-4 mb-2">
                                <h5>ส่วนสูง</h5>
                            </div>
                            <div class="col-md-4 ">
                                <h5><%= student_data.height %> เซนติเมตร</h5>
                            </div>
                        </div>

                    </div>
                    <!-- ข้อมูลนักเรียน -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- uid -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>เลขประจำตัวประชาชน</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.uid %></h5>
                            </div>
                        </div>
                        <!-- dob -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>วันเกิด</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.dob.getDate() + "/" + (student_data.dob.getMonth()+1) + "/" + student_data.dob.getFullYear() %></h5>
                            </div>
                        </div>
                        <!-- address -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>ที่อยู่</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.address %></h5>
                            </div>
                        </div>
                        <!-- tel -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>เบอร์โทรศัพท์</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.tel %></h5>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>e-mail</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.email %></h5>
                            </div>
                        </div>
                        <!-- parent -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>ผู้ปกครอง</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.parent_pre_name %> <%= student_data.parent_fname %>
                                    <%= student_data.parent_lname %></h5>
                            </div>
                        </div>
                        <!-- parent -->
                        <div class="row ml-2">
                            <div class="col-md-5 mb-2">
                                <h5>เบอร์ติดต่อผู้ปกครอง</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= student_data.parent_tel %> </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>